<section class="training-edit-dialog">
    <div class="trainingformGroup">
        <div class="label">Name</div>
        <input type="text" name="name" value="{{item.name}}" />
    </div>

    <div class="trainingformGroup">
        <div class="label">XP Cost</div>
        <input type="number" name="xpCost" value="{{item.xpCost}}" />
    </div>

    <div class="trainingformGroup">
        <div class="label">XP Source</div>
        <select name="xpSource">
            <option value="standard" {{#if (eq item.xpSource "standard")}}selected{{/if}}>Standard</option>
            <option value="exalt" {{#if (eq item.xpSource "exalt")}}selected{{/if}}>Exalt</option>
            <option value="mandate" {{#if (eq item.xpSource "mandate")}}selected{{/if}}>Mandate</option>
            <option value="bonus" {{#if (eq item.xpSource "bonus")}}selected{{/if}}>Bonus Points</option>
        </select>
    </div>

    <div class="trainingformGroup">
        <div class="label">Total Days </div>
        <input type="number" name="totalDays" value="{{item.totalDays}}" />
    </div>

    <div class="trainingformGroup">
        <div class="label"> Start Date</div>
        <input type="text" name="startDate" value="{{item.startDate}}" />
    </div>

    <div class="trainingformGroup">
        <div class="label">Notes </div>
        <textarea name="notes">{{item.notes}}</textarea>
    </div>

    <div class="trainingformGroup">
        <div class="label"> Created Date</div>
        <input type="text" name="createDate" value="{{item.createDate}}" />
    </div>
</section>
